:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-white-color: #ffffff;
    --secondary-bg-color: #F5F4FA;
    --social-icon-color: #AFB1B8;
    --footer-social-link: rgba(255, 255, 255, 0.1);
    --animation: cubic-bezier(0.4, 0, 0.2, 1);
    --focus-button: #188CE8;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
	text-decoration: none;
	color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Свойства для обнуления курсива у address */
address {
	font-style: normal;
}

body {
color: var(--primery-text-color);
font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
font-size: 14px;
}

header {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ececec;
    flex-wrap: nowrap;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about {
    padding-top: 0px;
}

.logo {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-footer {
    color: var(--primery-white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-web {
    color: #2196F3;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none; 
}

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    height: 80px;
}

.main-nav-container {
    display: flex;
    align-items: center;
    height: 80px;
}

.site-nav {
display: flex;
margin-left: 93px;
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0;
}

.nav-link,
.contact-link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: var(--animation);
}

.nav-link {
    display: block;
    position: relative;
}

.nav-link:hover, 
.nav-link:focus {
    color: #2196F3
}

.nav-link.currentlink::after {
    opacity: 1;
    border-radius: 4px;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    opacity: 0;
    transition: opacity 250ms var(--animation);
    border-radius: 2px;
}

.currentlink {
    color: var(--accent-color);
}

.contact-nav {
    display: flex;
    margin-left: auto;
}

.contact-nav .item + .item{
    margin-left: 50px;
}


.contact-link {
    color: inherit;
    align-items: center;
    display: inline-flex;
    gap: 10px;
}

.contact-link:hover, 
.contact-link:focus {
    color: #2196F3
}


/* Hero */
.hero {
    padding: 200px 0px;
    background-color: #2F303A;
    text-align: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


.hero-title {
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primery-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Features */ 
.feature {
}

.feature-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.feature-item {
    width: calc((100% - 90px) / 4);
}

.feature-icon {
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
}


.feature-list .item {
    width: 270px;
}

.feature-list .item {
    margin-right: 30px;
}

.feature-list .item:last-child {
    margin-right: 0;
}

.feature-title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-text {
    color: var(--primery-text-color);  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.img-section {
    display: flex;
}

.img-item {
    margin-right: 30px;
}

.img-item:last-child {
    margin-right: 0;
}



.section-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
/* about */

.about-modal {
   position: relative;
}

.about-text-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primery-white-color);  
}

/* Team */

.team {
    background-color: var(--secondary-bg-color);
}

.team-section {
    display: flex;
}

.team-item {
    margin-right: 30px;
    background: var(--primery-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
    margin-right: 0;
}

.team-title {
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.text-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-social-icon {
}

.social-icon {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    color: var(--social-icon-color);
    border-radius: 50%;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.social-icon:hover,
.social-icon:focus {
    background-color: var(--accent-color);
    color: var(--primery-white-color);
}

.icon {
    fill: currentColor;
}

.icon-antenna {
    width: 70;
    height: 70;
}

.button {
    display: inline-block;
    background-color: var(--accent-color);
    height: 50px;
    padding: 10px 32px;
    color: var(--primery-white-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 0;
}

.button:hover,
.button:focus {
    background-color: var(--focus-button);
}

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-text {
    margin-top: 9px;
}

.footer-text:first-child {
    margin-top: 0;
}

address {
    font-style: normal;
    margin-top: 20px;
}

.address-map {
    color: var(--primery-white-color);
    font-size: 14px;
    line-height: 1.71;
}

.address-contact {
    color: rgba(255, 255, 255, 0.6);;
    line-height: 1.71;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.address-contact:hover,
.address-contact:focus {
    color: var(--accent-color);
}

/* Portfolio */

/* Button */
.portfolio {
}

.button-nav {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.button-item {
    margin-right: 8px;
}

.button-item:last-child {
    margin-right: 0;
}


.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-color);
    color: var(--primery-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter {
    border: none;
    background-color: #F5F4FA;
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    height: 38px;
    padding: 6px 22px ;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03pc;
    border-radius: 4px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.active{
    background-color: var(--accent-color);
    color: var(--primery-white-color)
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms var(--animation);
}


.portfolio-description {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primery-white-color);
}

.portfolio-section {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}


.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n +3) {
    margin-bottom: 0;
}

.portfolio-link {
    display: block;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
    transform: translateY(0%);
}

.portfolio-title {
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: var(--primery-text-color);
    font-size: 16px;
    line-height: 1.88;
    margin-top: 0px;
    margin-bottom: 0px;
}

.card-text-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

/* Скрываем заголовки */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* clients */

.clients-section {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-item {
}

.clients-link {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--social-icon-color);
    border: 1px solid var(--social-icon-color);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-property: color, border;
    transition-timing-function: var(--animation);
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-item:last-child {
    margin-right: 0px;
}

/* container */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* join */
.footer-contain {
    display: flex;
    align-items: baseline;
}

.join {
    margin-left: 70px
}

.join-title {
    margin-bottom: 20px;
    font-size: inherit;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primery-white-color);
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.footer-social-link {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    color: var(--primery-white-color);
    background-color: var(--footer-social-link);
    border-radius: 50%;
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: var(--animation);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}

.subscribe-contain {
    margin-left: 93px;
}

.subscribe-button {
    display: inline-flex;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    font-family: inherit;
    padding-left: 29px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--primery-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--animation)
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--focus-button);
}

.icon-send {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--primery-white-color);
}

.subscribe-form {
    display: flex;
}

.subscribe-mail {
    width: 358px;
    height: 50px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 16px;
    color: var(--primery-white-color);
}

/*  Модальное окно  */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--primery-white-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
}

.modal-title {
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    line-height: 1.18;
    font-size: 20px;
    margin-bottom: 12px;
}

.icon-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: var(--primery-white-color);
    cursor: pointer;
}

.icon-modal {
    width: 11px;
    height: 11px;
}

.icon-close:hover,
.icon-close:focus {
    color: var(--accent-color);
}

.button-modal {
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--primery-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: var(--accent-color);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button-modal:focus,
.button-modal:hover {
    background-color: var(--focus-button);
}

.form {
    margin: 40px;
    display: flex;
    width: 448px;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0;
}

.content-form {
    width: 100%;
    font-size: 16px;
    line-height: 1.125;
    margin-bottom: 20px;
}

.content-form label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    text-align: left;
    line-height: 1.17;
    letter-spacing: 0.01em;
    padding: 0;
}

.content-form input::placeholder {
    font-family: inherit;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.entry-field {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}



.icon-field {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: var(--title-text-color);
    color: var(--title-text-color);
    transition: fill 250ms var(--animation);
}

.input-field {
    width: 100%;
    min-height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    color: var(--primery-text-color);
    transition: border 250ms var(--animation);
    cursor: pointer;
}

.input-field:hover,
.input-field:focus {
    border-color: var(--accent-color);
}

.input-field:hover ~ .icon-field,
.input-field:focus ~ .icon-field {
    fill: var(--accent-color);
    color: var(--accent-color);
}

.comment-field {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--primary-text-color);
    padding: 12px 16px;
    margin: 0;
    resize: none;
    transition: border 250ms var(--animation);
}

.comment-field:hover, 
.comment-field:focus {
    border-color: var(--accent-color);
    cursor: pointer;
}

.policy-contain {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 30px;
    
}

.policy-contain label {
    margin-left: 8px;
}

.policy-link {
    color: var(--accent-color);
}


.icon-check {
    display: flex;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 4px;
    margin-right: 4px;
}

.checkbox {
    appearance: none;
}

.checkbox:checked ~ .icon-check {
    background-color: var(--accent-color);
    background-image: url(./images/icon.svg#icon-check);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);

}

